header {
	background-color: cornflowerblue;
	height: 60px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

body {
	font-family: 'Nunito', sans-serif;	
	background: aliceblue;
}

#solved {
	color: green;
	display: none;
}

#board {
	border: 3px solid black;
	display: inline-block;
	float: left;
}

#board td {
	height: 50px;
	width: 50px;
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;

	font-size: 1.5em;
	text-align: center;
}

#board tr:nth-child(3) td {
	border-bottom: 2px solid black;
}

#board tr:nth-child(6) td {
	border-bottom: 2px solid black;
}

#board td:nth-child(3) {
	border-right: 2px solid black;
}

#board td:nth-child(6) {
	border-right: 2px solid black;
}



#solving_tools {
	display: inline-block;
	float: left;
	margin-left: 5%;
	border: 2px dotted grey;
	padding: 2%;

	width: 50%;
	height: 500px;
}

#sudoku_string {
	width: 600px;
}


#sLog {
	margin-bottom:32px;
	color:#000;
}

#sLog ul {
	list-style:none;
	padding-left:0;
	height:195px;
	overflow-y:scroll;
	background-color:#fff;
}

